body {
    font-family: 'Netflix';
    overflow-x: hidden;
    background-color: #141414;
    color: white;
}

i {
    color: white;
}

.navbar {
    width: 100%;

    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 45px;

    animation: nav linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    z-index: 10;

    background-color: transparent;

    -webkit-box-shadow: inset 0px 18px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 18px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 18px 18px 0px rgba(0, 0, 0, 0.75);
}

@keyframes nav {
    to {
        background-color: black;
    }
}

.navbar__container-logo {
    width: 120px;
}

.logo {
    width: 100%;
}

.navbar__options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    flex-basis: 78%;

}

.navbar__option {
    font-weight: 400;
    font-size: 14px;
}

.navbar__option:hover {
    cursor: pointer;
}

.navbar__option-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flecha {
    transition: all 300ms ease-in-out;
}

.navbar__option-perfil:hover .flecha {
    rotate: 180deg;
}

.navbar__option--menu {
    transition: all 300ms ease-in-out;
}

.navbar__option--menu:hover {
    opacity: .75;
    cursor: pointer;
}

.navbar__perfil {
    border-radius: 4px;
}

.navbar__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

.navbar__icon {}

svg {
    fill: #fff;
}


/* Sección 1 */
.section-1 {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    gap: 35px;

    overflow: hidden;

    -webkit-box-shadow: inset 0px 0px 48px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 48px -5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 48px -5px rgba(0, 0, 0, 0.75);

    z-index: 1;

}

.section-1__text-container {
    margin-top: -40px;
    padding: 0 60px;
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-weight: 400;
    font-size: 23px;
    text-align: justify;

    z-index: 1;
}

.section-1__img-title {}

.section-1__text {}

.section-1__btns {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.section-1__btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;

    font-size: 23px;
    font-weight: 500;

    padding: 10px 30px;
    border-radius: 5px;
}

.section-1__btn--izq {
    background-color: #fff;
    color: black;
}

.section-1__btn--izq svg {
    fill: black;
}

.section-1__btn--der {
    background-color: rgba(128, 128, 128, 0.5);
}

.section-1__btn--der:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.section-1__btn--izq:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.section-1__img-fondo {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* Sección 2 */
/* Contenedor de las peliculas */
.section-2 {
    z-index: 2;
    position: relative;
    margin-top: -100px;

    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
}

.header {
    padding: 0 60px;
}

.header__title {
    font-size: 27px;
    font-weight: 500;
}

.container-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.flecha-izq,
.flecha-der {
    opacity: 0;
    position: absolute;
    top: 85px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 39%;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.flecha-izq {
    left: 0;
}

.flecha-der {
    right: 0;
}

.flecha-izq:hover,
.flecha-der:hover {
    background: rgba(0, 0, 0, .5);
}

.flecha-izq:hover i,
.flecha-der:hover i {
    scale: 1.2;
}


.container-principal:hover .flecha-izq,
.container-principal:hover .flecha-der {
    opacity: 1;
}

.container-films {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;

}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    margin-top: -100px;

    height: 500px;
}

.film {
    position: relative;
    min-width: 290px;
    min-height: 160px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

    z-index: 1;
}

.film__img {
    width: 100%;
    border-radius: 5px;
}


/* Hover film */
.film-hover {
    position: absolute;
    top: 0;
    left: 0px;

    opacity: 0;
    border-radius: 10px;
    background-color: #181818;

    -webkit-box-shadow: 0px 0px 33px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 33px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 33px -11px rgba(0, 0, 0, 0.75);

    transition: all 300ms ease-in-out;
}

.film-hover__img {
    border-radius: 5px;
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.film-hover__container-info {
    padding: 10px;
}

.film-hover__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    text-align: center;
}

.icons__icons-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.icons__icon {
    padding: 5px 10px;

    border: 2px solid rgb(128, 128, 128);
    border-radius: 50%;

    background-color: rgba(128, 128, 128, 0.3);
}

.icons__icon:hover {
    border: 2px solid white;
    background-color: rgba(128, 128, 128, 0.6);
}

.icons__icon--play {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}

.icons__icon--play:hover {
    opacity: .8;
}

.icons__icon--play i {
    color: black;
}

.film-hover__container-text {
    margin: 5px 0;
}

.film-hover__text {
    color: #37E479;
}

.film-hover__container-genero {
    margin-bottom: 10px;
}

.film-hover__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.film-hover__genero-container {
    display: flex;
    align-items: center;
}

.film-hover__genero-container i {
    scale: .4;
    color: rgba(128, 128, 128, 0.3);
}

.film:hover .film-hover {
    opacity: 1;
    transform: translatey(-30px);
    scale: 1.3;
}
