body{
    font-family: 'Netflix';
}

.navbar{
    width: 100%;

    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 45px;

    color: white;

    animation: header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    z-index: 10;

    /* background-color: transparent; */
    background-color: black;
}

.navbar__container-logo{
    width: 120px;
}

.logo{
    width: 100%;
}

.navbar__options{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    flex-basis: 78%;

}

.navbar__option{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.navbar__option-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__perfil{
    border-radius: 4px;
}

.navbar__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

 .navbar__icon{}

 svg{
    fill: #fff;
 }


 /* Sección 1 */